body {
  background-color: rgb(0, 0, 0);
  font-family: "Lexend Deca", sans-serif;
  background-image: url(images/image11.jpg);
}
header {
  display: flex;
  justify-content: center;
}
.container-cartas {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.destacado {
  background-color: rgb(143, 195, 211);
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}
.between {
  justify-content: space-between;
}
.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: cornsilk;
  font-size: 20px;
}

.container-cartas a {
  border: solid 2px black;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 4rem;
}

img {
  width: 200px;
  height: auto;
  gap: 25px;
}
.items-center {
  display: flex;
  align-items: center;
  gap: 20px;
}
p {
  font-size: 16px;
}
